*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* 
.epilogue-<uniquifier> {
  font-family: "Epilogue", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.josefin-sans-<uniquifier> {
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

:root {
    --focus-color: #EB5E28;
    --base-color: #151313;
    --base-color-light: #2B2826;
    --secondary-color: #CCC5B9;
    --secondary-color-light: #FFFCF2;
}

body {
    background-color: var(--base-color);
    color: var(--secondary-color-light);
font-family: "Josefin Sans", serif;
    scrollbar-color: var(--focus-color);
    scrollbar-width: 4em;
}
 ::-webkit-scrollbar {
    width: 0.4em;
 }

 ::-webkit-scrollbar-thumb {
    background: var(--focus-color); 
    border-radius: 1.5em;
 }
a {
    text-decoration: none;
    cursor: pointer;
    color: var(--secondary-color);
    display: flex;
}

::selection { 
    color: var(--secondary-color-light);
    background-color: var(--focus-color);
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border: 0.1em solid var(--base-color-light);
    margin: 2em 4em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.8em;
}

svg {
   margin: 0  0.5em;
}

header > p {
    font-size: 1.6em;
}

button {
 background-color: var(--focus-color);
 font-weight: 600;
 display: flex;
 align-items: center;
 justify-content: center;
 border: none;
 min-height: 2.2em;
 padding-left: 1em;
 cursor: pointer;
}

.contact-svg {
    margin-top: 0.1em;
}

.introduction {
    min-height: 70vh;
    text-align: center;
    margin-top: 8em;
}

h1 {
    font-size: 3.6em;
}