*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

:root {
  --focus-color: #EB5E28;
  --base-color: #0a0909;
  --base-color-light: #2B2826;
  --secondary-color: #CCC5B9;
  --secondary-color-light: #FFFCF2;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--base-color);
  color: var(--secondary-color-light);
  font-family: "Josefin Sans", serif;
  scrollbar-color: var(--focus-color);
  scrollbar-width: 4em;
  position: relative;
}
 ::-webkit-scrollbar {
  width: 0.4em;
 }

 ::-webkit-scrollbar-thumb {
  background: var(--focus-color); 
  border-radius: 1.5em;
 }
a {
  text-decoration: none;
  cursor: pointer;
  color: var(--secondary-color);
  display: flex;
}

::selection { 
  color: var(--secondary-color-light);
  background-color: var(--focus-color);
}

header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  border: 0.1em solid var(--base-color-light);
  margin: 2em 4em;
  min-height: 3em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.8em;
}

nav > a:hover {
  color: var(--focus-color);
}

svg {
  margin: 0  0.5em;
}

header > p {
  font-size: 1.6em;
  padding-left: 0.4em;
}

button {
  background-color: var(--focus-color);
  font-weight: 600;
  color: var(--secondary-color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  min-height: 2.2em;
  padding-left: 1em;
  cursor: pointer;
  margin-right: 0.6em;
}

.contact-svg {
  margin-top: 0.1em;
}

.introduction {
  min-height: 70vh;
  text-align: center;
  margin-top: 10em;
}

h1 {
  font-size: 3.6em;
}

.social-link-div {
 display: flex;
 justify-content: center;
 margin-top: 3.8em;
}

.social-link-div > a:hover {
  color: var(--focus-color);
}

#projects {
  margin: 0 5em;
}

h2 {
  font-size: 2.2em;
}

#projects > p {
  color: var(--secondary-color);
  margin-top: -0.2em;
}

.project-container {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax( 22em, 1fr));
  gap: 2.3em;
  margin-top: 1em;
  margin-bottom: 5.6em;
}

.project {
  background-color: var(--base-color-light);
  border-radius: 0.6em;
  padding: 1.4em;
}

.project-img {
  overflow: hidden; 
  display: flex; 
  justify-content: center; 
}

.project-img > img {
  width: 100%;
  height: 10.5em;
  border-radius: 0.4em;
}

h3 {
  padding: 1em 0;
}

.project-details > p {
  color: var(--secondary-color);
  margin-bottom: 2.3em;
}

.project-links {
  display: flex;
  justify-content: space-between;
}

.project-links > a:hover {
  color: var(--focus-color);
}

#contact {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  align-items: center;
  margin-bottom: 8em;
}

#contact > h2 {
  margin-right: 2em;
}

#contactForm {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

input, textarea {
  background-color: var(--base-color);
  border: 0.1em solid var(--secondary-color);
  min-width: 20em;
  min-height: 2.2em;
  color: var(--secondary-color);
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  padding: 0.2em 0.8em;
}

#contactForm > button {
  min-width: 20em;
}

.dialog {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--base-color);
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.dialog > p, .dialog > button {
  background-color: var(--secondary-color-light);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 90%;
  width: 280px;
  box-shadow: 0 4px 6px var(--base-color-light);
  animation: fadeIn 0.3s ease;
}

.dialog p {
  margin-bottom: 15px;
  font-size: 1.2em;
  color: #333;
}

.dialog button {
  background-color: var(--focus-color);
  color: var(--secondary-color-light);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.9);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

.dragon-ball {
  max-width: 3.4em;
  max-height: 3.4em;
  animation:  5000ms infinite linear spin;
}

.one-star {  
  transition: left 2s ease-in-out;
  position: absolute;
  top:  10em;
  left: 45em;
}

.one-star:hover {
  left: 50em;
}

.five-star {
  transition: top 2s ease-in-out;
  position: absolute;
  top:  12em;
  left: 18em;
}

.five-star:hover {
  top: 2em;
}

.three-star {
  transition: top 2s ease-in-out;
  position: absolute;
  top: 20em;
  left: 30em;
}

.three-star:hover {
  top: 15em;
}

.seven-star {
  transition: right 2s ease-in-out;
  position: absolute;
  top: 20em;
  right: 22em;
}

.seven-star:hover {
  right: 30em;
}

.six-star {
  transition: top 2s ease-in-out;
  position: absolute;
  top: 13em;
  right: 16em;
}

.six-star:hover {
  top: 5em;
}

.four-star {
animation: 4s infinite linear spin-around;
 position: absolute;
 right: 15em;
 bottom: 60em;
}

.two-star {
  transition: bottom 2s ease-in-out;
  position: absolute;
  bottom: 31em;
  right: 36em;
}

.two-star:hover {
  bottom: 34em;
}

.footer-details > img {
  max-width: 4em;
  max-height: 1.6em;
 margin-right: -0.5em;
 cursor: pointer;
}

footer {
  background-color: var(--secondary-color);
  color: var(--base-color-light);
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.naruto {
 opacity: 0; 
  max-width: 10em;
  max-height: 15em;
  position: absolute;
  right: 0;
  bottom: 2.6em;
  transform: translateX(0);
  transition: transform 2s , opacity 0.1s ;   
}


@keyframes spin-around {
  0%, 100% {
    transform: translate(0, 0);
  }

  30% {
    transform: translate(-10em, 10em);
  }

  60% {
    transform: translate(3em, 18em);
  }

  80% {
    transform: translate(9em, 5em);
  }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
} 

@media (max-width: 500px) {
  .dragon-ball {
    display: none;
  }
}